apiVersion: devops.kubesphere.io/v1alpha1
kind: Releaser
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"devops.kubesphere.io/v1alpha1","kind":"Releaser","metadata":{"annotations":{},"creationTimestamp":"2022-04-08T08:46:55Z","labels":{"app.kubernetes.io/instance":"ks-versions"},"name":"ks-devops-v3.3.0-alpha.1","namespace":"ks-version"},"spec":{"gitOps":{"enable":true,"repository":{"address":"https://github.com/kubesphere-sigs/ks-versions","branch":"master","name":"ks-versions","provider":"github"},"secret":{}},"phase":"ready","repositories":[{"action":"pre-release","address":"https://github.com/kubesphere/ks-devops","branch":"master","name":"ks-devops","provider":"github","version":"v3.3.0-alpha.1"}],"secret":{"name":"linuxsuren-bot","namespace":"ks-releaser-system"},"version":"v3.3.0-alpha.1"},"status":{}}
    releaser.devops.kubesphere.io/hash: 6c44bbc4c8
  creationTimestamp: "2022-04-08T12:48:25Z"
  generation: 2
  labels:
    app.kubernetes.io/instance: ks-versions
  name: ks-devops-v3.3.0-alpha.1
  namespace: ks-version
  selfLink: /apis/devops.kubesphere.io/v1alpha1/namespaces/ks-version/releasers/ks-devops-v3.3.0-alpha.1
spec:
  gitOps:
    enable: true
    repository:
      address: https://github.com/kubesphere-sigs/ks-versions
      branch: master
      name: ks-versions
      provider: github
    secret: {}
  phase: done
  repositories:
  - action: pre-release
    address: https://github.com/kubesphere/ks-devops
    branch: master
    name: ks-devops
    provider: github
    version: v3.3.0-alpha.1
  secret:
    name: linuxsuren-bot
    namespace: ks-releaser-system
  version: v3.3.0-alpha.1
status:
  conditions:
  - conditionType: release
    message: https://github.com/kubesphere/ks-devops was released
    status: success
